{% extends "_base.html" %}
{% from "_macros.html" import p %}

{% block preheader %}Confirmation from {{ ip }}. All sessions have been signed out.{% endblock %}
{% block header_title %}Password changed{% endblock %}

{% block body %}
{{ p("Hi " + (display_name or "there") + ",", c) }}
{{ p("Your " + brand + " password was just changed. The request came from IP " + ip + ".", c) }}
{{ p("As a precaution, every one of your sessions has been signed out.", c) }}
{{ p("If this was you, you're all set. If it wasn't, contact an administrator immediately.", c) }}
{% endblock %}
